body {
    font-family: sans-serif;
}

#next-guess {
  background-color: #dbdbdb;
  text-align: center;
  border-radius: 10px;
  border: 2px solid black;
  float: left;
  width: 170px;
  height: auto;
}

#score-area {
  background-color: #dbdbdb;
  text-align: center;
  border-radius: 10px;
  border: 2px solid black;
}

.clear {
  clear: both;
}

.select {
  background-color: #dbdbdb;
  text-align: center;
  width: 105px;
  border: 2px solid black;
  border-radius: 10px;
  float: left;
  margin: 10px;
}

.select h1 {
  margin: 0;
}

.digit {
  margin: 2px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px black solid;

}

.white {
  background-color: white;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.blue {
  background-color: blue;
}

.green {
  background-color: darkgreen;
}

.purple {
  background-color: purple;
}

.orange {
  background-color: darkorange;
}

.bull-score {
  margin: 4px;
  width: 15px;
  height: 15px;
  background-color: red;
  border: 1px solid black;
  border-radius: 50%;
  float: left;
}

.cow-score {
  margin: 4px;
  width: 15px;
  height: 15px;
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
  float: left;
}

.no-score {
  margin: 8px;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: dimgrey;
  float: left;
}

.score-area-score {
  width: 52px;
  height: 52px;
  border: 2px solid black;
  border-radius: 5px;
  float: left;
}

.score-area-guess {
  float: left;
  margin: 6px;
}

#score-area {
  width: 220px;
  height: auto;
  float: left;
}